## 18~20

In [1]:
num_str = "15.79"
num_str = float(num_str)
print(num_str, type(num_str));

15.79 <class 'float'>

In [6]:
year = "2020"
print (int(year)-3)  #문자인 숫자는 반드시 정수형으로 변경해야
print (int(year)-2)
print (int(year)+3)

2017
2018
2023

In [7]:
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
#총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

## 21~30

In [8]:
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요
letters = 'python'
print(letters[0]) #문자 주소 첫번째는 0
print(letters[2])

p
t

In [14]:
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[4:8])
print(license_plate[4:])
print(license_plate[-4:])

2210
2210
2210

In [65]:
#아래의 문자열에서 '무대를 뒤집어 놓았네' 출력하세요.

string = "무뒤놓대집았를어네"
print(string[0:9:3],end=' ')
print(string[1:9:3],end=' ')
print(string[2:9:3])

무대를 뒤집어 놓았네

In [40]:
# 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
print(string[::-1])

NOHTYP

In [63]:
#아래의 전화번호에서 하이픈 ('-')을 제거하고 출력하세요.
#문자열은 절대 변경 불가능 (불변형)
phone_number = "010-1111-2222"
a = phone_number.replace('-',' ')
b = phone_number.replace('-','*')
print(a), print(b);

010 1111 2222
010*1111*2222

In [64]:
name = 'Hello World'
new_name = name.replace('World', 'Python')
print(new_name);

Hello Python

In [71]:
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
#뒤에서 두번째까지만 출력
url = "http://sharebook.kr"
print(url[-2:])

# 스플릿으로 자른 다음에 1번 문자주소 덩어리만 가져오기
a = url.split(".")
print(a[1])

kr
kr

In [83]:
string = 'Python'
print(string[-2:])

on

### immutable

In [84]:
#아래 코드의 실행 결과를 예상해보세요.
#한번 만들어지면 변경될 수 없어서 에러가 무조건 난다. 고칠 수 없다잇
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [94]:
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [98]:
string = 'abcd'    # =는 바인딩으로 이름과 값을 이어준다고 생각하면 쉬워   
string.replace('b','B') #여기는 그냥 데이터 상에서만 리플레이스된거지
print(string)

abcd

In [96]:
string = 'abcd'
string = string.replace('b','B') #이렇게 바인딩으로 이어주어야 프린트가 되는거야
print(string)

aBcd

<궁금> 한 번 만들어지면 변경될 수 없다고 했는데, 어떻게 다시 abcd로 값을 매기고 반환이 성공하지? <br> <br>
<답변> replace는 수정이 아니라 싹 다 지우고 다시 넣는거야. 그리고 아래에 다시 바인딩하는 것도 같은 작업이지. 그런데 여기서 말하는 immutalbe이라는건 하나만 지우고 수정할 수 없다는거야. 수정테이프로 지우는건 안되는데 종이를 갈아서 그 위에 쓰는 건 가능한거지.

### 31~40

In [99]:
#아래 코드의 실행 결과를 예상해보세요.
#문자와 문자가 합쳐진 것

a = "3"
b = "4"
print(a + b)

34

In [102]:
#아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 30)

HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHi

In [101]:
# - 80개 출력
print('-' * 80)

--------------------------------------------------------------------------------

In [107]:
#t1, t2 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
#python java python java python java python java
sum = t1+' '+t2+' '
print(sum*4)

python java python java python java python java

In [125]:
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 내가 한 거
print('이름:',name1,'나이:',age1)
print('이름:',name2,'나이:',age2)

# `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미
print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [124]:
#문자열의 format( ) 메서드를 사용
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [127]:
#파이썬 3.6부터 지원하는 f-string을 사용, 보다 직관적
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [140]:
#삼성전자의 상장주식수 
#컴마를 제거, 정수 타입으로 변환

상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",","") #쉼표 먼저 빼기
상장주식수 = int(상장주식수) #int() 숫자 변경 함수로 변경하기


print(상장주식수,type(상장주식수))

5969782550 <class 'int'>

In [148]:
#039 문자열 슬라이싱
#다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [154]:
#040 strip 메서드
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data = data.strip()
print(data,len(data))

삼성전자 4

### 41~50

In [157]:
#041 upper 메서드
#다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

ticker = ticker.lower()
print(ticker)

BTC_KRW
btc_krw

In [166]:
#043 capitalize 메서드
#문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

txt1 = "hello"
txt1 = txt1.replace("h","H")
print(txt1)

txt1 = txt1.capitalize()
print(txt1)

Hello
Hello

In [178]:
#044 endswith 메서드
#확장자가 맞게 저장되어 있어?

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

TypeError: slice indices must be integers or None or have an __index__ method

In [185]:
# 두개 이상 옵션값에서 맞는 지 확인하려면
# (()) 두번 넣어야 해 튜플이라
file_name.endswith(("xlsx", "pdf"))

True

In [187]:
#046 startswith 메서드
#시작하는 문자열이 맞아?

file_name = "보고서.xlsx"
file_name.startswith("보고서")

True

In [209]:
#047 split 메서드
#o을 기준으로 문자열을 나눠보세요.

a = "hello world"
a = a.split("o")
print(a[1:])

[' w', 'rld']

In [211]:
#048 split 메서드
#btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker = ticker.split("_")
print(ticker)

['btc', 'krw']

In [215]:
#049 split 메서드
#연도, 월, 일로 나눠보세요.

date = "2020-05-01"
# date = date.split("-")
# print(date)

#바로 이렇게도 되넹
print(date.split("-"))

['2020', '05', '01']

AttributeError: 'list' object has no attribute 'split'

In [223]:
#050 rstrip 메서드
#공백제거 위치에 따라 다제거,왼제거,오제거

data = "     039490     "
print(data.strip())
print(data.lstrip())
print(data.rstrip())

039490
039490
     039490