### 비교 연산자

In [2]:
#101
print(3 == 5)

False

In [3]:
x = 4
print(1 < x < 5)

True

In [28]:
print ((3 == 3) and (4 != 3))

True

In [32]:
#106  지원하지 않는 연산자 why? 

# x >= y
# x <= y
print(3 =< 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3260908991.py, line 5)

### IF 문

In [15]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [17]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [22]:
money = 4000
card = True
if money >= 3000:
    print("택시 타")
else:
    print("걸어 가")

택시 타

In [33]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: 
    print("카드를 꺼내라")

In [38]:
#107
if 2 < 3:
    print("Hello World")

Hello World

In [40]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [49]:
# print("4")가 else문의 블록에 들여쓰기가 되어 있지 않아서, 
#항상 조건식이 True이든 False이든 마지막에 print("4")가 실행됩니다.
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [55]:
pocket = ['papar','cellphone']
card =True

if 'money' in pocket:  # IN 밑으로 내려가면 안돼
    print("택시 타고 가")
elif card:
    print("택시 타고 가")
else:
    print("걷자")

택시 타고 가

### input

input 창 어떻게 열까? 열렸던 것 같은데? # 111~130

In [62]:
#111 input 창 어떻게 열까?

user = input("입력:")
print(user * 2)

입력:3
33

In [61]:
user = input("숫자를 입력하세요:")
print(int(user)+10)

숫자를 입력하세요:3
13

In [60]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 2
12

In [66]:
#113

user2 = input("")
if int(user2) % 2 == 0:
    print("짝수")
else:
    print("홀수")

33
홀수

In [75]:
#114
user3 = input("입력값:")
num = 20 + int (user2)

if int(num) > 255:
    print(255)
else:
    print("출력값을 초과")

입력값:333
출력값을 초과

In [82]:
user = input("입력값: ")
num_int = int(user) - 20

if 255 > int(num_int) > 0:  #나오기는 하는데 이렇게는 안쓰나봐?? 
     print(num_int)
else:
    print("출력값 초과")

입력값: 400
출력값 초과

In [89]:
user = input("입력값: ")
num_int = int(user) - 20

# 계산된 값이 0보다 작거나 255보다 큰 경우에 대한 처리
if num_int < 0 or num_int > 255:
    print("출력값 초과")
else:
    print(num_int)

입력값: 40
20

In [84]:
user = input("입력값: ")
num_int = int(user) - 20

if num_int < 0:
    print(0)
elif num_int > 255:
    print(255)
else:
    print("출력값 초과")

입력값: 2000
255

# 반복문

### while
파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. 
파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

while 조건문:
    수행할_문장1
    수행할_문장2
    수행할_문장3
    ...

In [58]:
treehit = 0
while treehit < 10:
    treehit = treehit +1
    print("나무를 %d번 찍었습니다" % treehit)
    
    if treehit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다.

In [57]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

### for (가장 중요합니다 )

In [90]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

변수를 위해 과일리스트에서 하나씩 뽑는거지

In [99]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#비밀입니당#")

#비밀입니당#
#비밀입니당#
#비밀입니당#

In [97]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

    #for 문은 print 가 들여쓰기를 해야해

3
7
11

In [100]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [101]:
for 변수 in ["A", "B", "C"]:
      print("출력:", 변수)

출력: A
출력: B
출력: C

In [102]:
#134 이렇게 중복적으로 쓰는 것을 대신 하는 게 위에 for 문인거야
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [108]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [109]:
for a

SyntaxError: invalid syntax (35746309.py, line 1)

In [112]:
#총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 
#합격인지, 불합격인지 결과를 보여 주시오.



marks = [90, 25, 67, 45, 80]

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [113]:

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [115]:
a = range(10)
a

range(0, 10)

for 문과 함께 자주 사용하는 range 함수
for 문은 숫자 리스트를 자동으로 만들어 주는 range 함수와 함께 사용하는 경우가 많다. 다음은 range 함수의 간단한 사용법이다.

In [120]:
add = 0
for i in range(1,11):
    add = add+ i
print(add)

55

In [123]:
add = 0
for i in range(1,11):
    add = add+ i
    print(add)

1
3
6
10
15
21
28
36
45
55

In [139]:
# 프린트 위치에 따른 출력값이 다름
#다음 for 루프는 제대로 작동함
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
        

    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [143]:
#다음 for 루프는 print 의 명령이 따로 있지 않기 때문에
# 어떤 대답을 해줘야할 지 모름. for 에서 맞는 값을 찾을 수 없어 마지막 값 들고 나온 것?????


marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
        

print("%d번 학생 축하합니다. 합격입니다." % (number+1))    

# 결과에 오해를 일으킬 수 있는 부분 일 것 같다. 조심해야함..

5번 학생 축하합니다. 합격입니다.

In [145]:
for 변수 in [10,20,30]:
    print(변수)
    print("---")

10
---
20
---
30
---

In [149]:
print("+++")
for 변수 in [10,20,30]:
    print(변수)

+++
10
20
30

In [158]:
for 변수 in ["가", "나", "다", "라"]:
      print("-------")

-------
-------
-------
-------

In [160]:
리스트 = [100,200,300]

for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [165]:
리스트 = ["김밥","라면","튀김"]

for 메뉴 in 리스트:
    print("오늘의 메뉴: "+ 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [166]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
      print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [169]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    길이 = len(종목명)
    print(길이)

6
4
4

In [178]:
리스트 = ['dog', 'cat', 'parrot']
for 동물이름 in 리스트:
    길이 = len(동물이름)
    print(동물이름,":",길이)

dog : 3
cat : 3
parrot : 6

In [180]:
리스트 = ['dog', 'cat', 'parrot']
for 대문자 in 리스트:
    print(대문자[0])

d
c
p

In [188]:
리스트 = [1,2,3]
for 변수 in 리스트:
    print("3 x", 변수 ,"=", 3 * 변수)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [194]:
리스트 = [1,2,3]
for 변수 in 리스트:
    print ("3 X {} = {}".format(변수, 3*변수))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [202]:
# 149 
#아직 잘 이해가 안 가
#

list = ["가", "나", "다", "라"]
for i in list[: :2]:
    print(i)

가
다

In [204]:
#150
#아직 잘 이해가 안 가
리스트 = ["가", "나", "다", "라"]
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가