### Print

### 1~10

In [2]:
print("Hello World")

Hello World

In [3]:
print("Mary's Cosmetics")

Mary's Cosmetics

In [11]:
print('"신씨가 소리질렀다. "도둑이야".')

"신씨가 소리질렀다. "도둑이야".

In [14]:
print("c:\Windows")

c:\Windows

In [31]:
print("안녕하세요. \n만나서 \t\t\t\t반갑습니다.")

안녕하세요.
만나서 				반갑습니다.

In [19]:
print("오늘은","일요일")

오늘은 일요일

In [20]:
print("naver;kakao;sk;sumsung")

naver;kakao;sk;sumsung

^ 사이값 넣어주는 파라미터

In [22]:
print("naver","kakao","sk","sumsung",sep=';')

naver;kakao;sk;sumsung

In [23]:
print("naver","kakao","sk","sumsung",sep='>')

naver>kakao>sk>sumsung

In [26]:
print("first","second");

first second

^print다음 기본 값은 엔터라서 이것을 없애주는게 end인듯

In [29]:
print("first", end=""); print("second")

first second

In [30]:
print(5/3)

1.6666666666666667

### 11~20

In [32]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [43]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

int = 정수,소수없음 float = 소수포함

In [83]:
num1 = 1.0e+5 # 출력:100000.0
print(num1);

num2 = 1.0e-5  # 출력: 1e-05
print(num2);

num3 = 1.0e+5
print('{:.0f}'.format(num3))  # 출력: 100000 소수점 이하 5자리까지 표현

num4 = 1.0e-5
print('{:.5f}'.format(num4))  # 출력: 0.00001

print(type(num2))

100000.0
1e-05
100000
0.00001
<class 'float'>

양수 지수는 바로 표기되는데, 음수 지수표기법은 정수로 변환되어 출력되지 않는 이유는? 포맷방식을 지정해주는 이유는?

In [68]:
s = "hello"
t = "python"
print(s, t);

hello python

In [74]:
print(s+"!",t+"!","it's mina!")

hello! python! it's mina!

In [77]:
print(2+2*3)

8

In [86]:
a = 132
print (type(a))

<class 'int'>

In [98]:
num_st2 = "-720" #형변환

num_int = int(num_st2)
print(num_int+1, type(num_int))

-719 <class 'int'>

숫자인문자 = "이 안에 들어간 것을 바인딩"
숫자인숫자 = int(숫자인문자)  <변환과정

확인 위해 프린트(숫자인숫자+1, 그리고 타입확인하기)

In [104]:
num = 100 # 같은 이름일 경우 가장 최근 것으로 바인딩됨.
num = 1000 

print(num)

1000

In [114]:
num = 100
num_str2 = str(num)
print(num_str2 + "원만 주시죠?")
print(num_str2, type(num_str2));

100원만 주시죠?
100 <class 'str'>

In [121]:
num_str = "15.79"
num_str = float(num_str)
print(num_str, type(num_str));

TypeError: 'tuple' object is not callable

In [125]:
data = "15.79"
float = (data)  # 여기서 실수형으로 변환하려고 했지만, 실제로는 튜플을 생성하게 됨
print(float, type(float))

TypeError: 'tuple' object is not callable

In [127]:
data = "15.79"
float_value = float(data)  # 변수 이름을 'float_value'로 변경 but silpae
print(float_value, type(float_value))

TypeError: 'str' object is not callable